@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');
body{
    padding: 0;margin: 0;
}
.container{
    /* background-color:lavenderblush; */
    height: 120vh;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.container h1{
    font-family: 'Merriweather', serif; 
    color:mediumvioletred;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    width: 400px;
    margin-bottom: 50px;
}
p{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
}
.table{
    height: 100px;
}